.wheel {
  position: absolute;
  top: 200px;
  left: 30px;
  height: 4.5em;
  width: 4.5em;
  display: block;
  border: 0.2em solid #777777;
  border-radius: 100%;
  font-size: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 0 0 0.25em #1e1e1e;
  -webkit-box-shadow: 0 0 0 0.25em #1e1e1e;
  box-shadow: 0 0 0 0.25em #1e1e1e;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
}

.wheel:hover {
  animation: go 2s infinite linear;
}

.wheel li {
  display: block;
  width: 4em;
  height: 0.5em;
  border-width: 0.05em;
  border-style: solid;
  border-color: #ddd transparent #aaaaaa;
  position: absolute;
  left: 0.05em;
  top: 1.8em;
}
.wheel li:nth-child(2) {
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  border-color: #c4c4c4 transparent #9d9d9d;
}
.wheel li:nth-child(3) {
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  border-color: #c4c4c4 transparent #9d9d9d;
}
.wheel li:nth-child(4) {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  border-color: #c4c4c4 transparent #9d9d9d;
}
.wheel li:nth-child(5) {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  border-color: #c4c4c4 transparent #9d9d9d;
}
.wheel li:nth-child(6) {
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  border-color: #c4c4c4 transparent #9d9d9d;
}
.wheel li:nth-child(7) {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-color: #c4c4c4 transparent #9d9d9d;
}
.wheel li:nth-child(8) {
  -moz-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  border-color: #c4c4c4 transparent #9d9d9d;
}

@keyframes go {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
